/target


# Added by cargo
#
# already existing elements were commented out

#/target

# Testing files dirs
.index/
.fastembed_cache/
vectorstore.sqlite

# rust analyzer
rust-analyzer.toml


.projectile
