/target


# Added by cargo
#
# already existing elements were commented out

#/target

# pierre ci
node_modules

# Testing files dirs
documents/
.index/

.projectile

# built python files on a mac
*.so
